<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/sanpham.css">
    <script src="/js/sanpham.js"></script>
</head>
<div>
    <header>
        <nav class="navbar navbar-expand-sm colorsss">
            <div class="logo">
                <a href="sanpham.com">
                    <img src="https://icons.veryicon.com/png/o/miscellaneous/tmm/a1-31-40x40.png" alt="Logo" width="50"
                         height="50">
                </a>
            </div>
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text" href="#">SẢN PHẨM</a>
                    </li>
                    <li class="nav-item ">
                        <div class="danhmuc">
                            <span class="nav-link text" href="#">DANH MỤC</span>
                            <div class="dropdown-content1">
                                <div th:each="category1:${category}" class="danhmucchitiet">
                                    <a class="dropdown-item1 btn btn-light" th:text="${category1.name}"
                                       th:href="@{/trangchu.com/danhmuc/{category1}(category1=${category1.id})}"></a>
                                </div>
                            </div>
                        </div>

                    </li>

                </ul>
            </div>
            <div class="me-5 ">
                <div class="d-flex align-items-center search">
                    <input style="width: 200px" type="text" class="form-control mr-sm-2 me-1" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
            </div>
            <div class="">
                <div class="text-center logo-user">
                    <a href="#">
                        <img class="mt-2" src="https://cdn-icons-png.flaticon.com/512/456/456212.png" width="50px"
                             height="50px">
                    </a>
                </div>
            </div>
            <div>
                <div class="">
                    <button class="btn btn-secondary dropdown-toggle" type="button" onclick="toggleDropdown()">
                    </button>
                    <div id="myDropdown" class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
                        <p th:text="${account1.fullname}"></p>
                        <a class="dropdown-item" href="#">Thông Tin</a>
                        <a class="dropdown-item" href="#">Đổi Mật Khẩu</a>
                        <a class="dropdown-item loggout" onclick="dangxuat()" href="#">Đăng Xuất</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <body>

    <div>
        <nav class="navbar menusanpham navbar-expand-sm justify-content-center">
            <div class=" text-center">
                <ul class="navbar-nav ">
                    <li class="nav-item"><a class="nav-link menusanpham1" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link menusanpham1" href="#">About</a></li>
                    <li class="nav-item"><a class="nav-link menusanpham1" href="#">Products</a></li>
                    <li class="nav-item"><a class="nav-link menusanpham1" href="#">Services</a></li>
                    <li class="nav-item"><a class="nav-link menusanpham1" href="#">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <h3>Sản Phẩm</h3>
    <hr>
    <div class="">
        <div class=" container-fluid row justify-content-center">
            <div class="border col-3 m-3 khungsanpham" th:each="product:${productsdanhmuc}">
                <div class="justify-content-center">
                    <h4 class="tensanpham" th:text="${product.name}"></h4>
                    <div class="justify-content-center text-center">
                        <img th:src="@{'/images/' + ${product.image}}" alt="Product Image" width="200" height="200"/>
                    </div>
                    <p class="gia" th:text="${product.price}"></p>
                    <hr>
                    <div class="mua">
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                        <a href="#" class="btn btn-success">View Details</a>
                    </div>


                </div>

            </div>
        </div>
    </div>

    </body>
    <footer class="justify-content-center">
        <div class="text-center bg-light">
            <p>&copy; 2024 Copyright - Cấu trúc Header và Footer trong HTML</p>
            <ul class="navbar-nav ">
                <li><a class="nav-link" href="#">Điều khoản sử dụng</a></li>
                <li><a class="nav-link" href="#">Chính sách bảo mật</a></li>
            </ul>
        </div>
    </footer>
</div>

</html>